altgraph==0.17
bidict==0.21.2
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
cowsay==3.0
dateutils==0.6.12
flake8==3.8.4
Flask==1.1.2
future==0.18.2
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mccabe==0.6.1
nsetools==1.0.11
numpy==1.19.4
Pillow==8.0.1
pycodestyle==2.6.0
pydocstyle==5.1.1
pyflakes==2.2.0
pyinstaller-hooks-contrib==2020.10
PyJWT==1.7.1
pyngrok==4.1.5
pyparsing==2.4.7
PyQt5==5.15.3
PyQt5-Qt==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.3
PyQtWebEngine-Qt==5.15.2
python-dateutil==2.8.1
python-dotenv==0.12.0
python-engineio==4.0.0
python-socketio==5.0.3
pytz==2019.3
pywin32-ctypes==0.2.0
PyYAML==5.3.1
requests==2.23.0
selenium==3.141.0
six==1.14.0
snowballstemmer==2.0.0
soupsieve==2.1
twilio==6.38.1
urllib3==1.25.8
Werkzeug==1.0.1
